@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body style */
body {
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size: 1.32rem;
  height: 100%;
  color: #fff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 80%;
}

/* day style */
#day {
  font-weight: 300;
  margin: 5rem 1rem 0 1rem;
  text-align: center;
  font-size: 1.2rem;
}
#day:hover {
  font-weight: 600;
  font-size: 1.6rem;
  transition: 0.7s;
  color: #2d3b55;
}
#day:not(:hover) {
  transition: 0.7s;
}

/* clock style */
#clock {
  font-size: 7rem;
  font-weight: 700;
  margin: 0rem 1rem 3rem 1rem;
  text-align: center;
}

#clock:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#clock:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* form style */
form {
  margin-top: 1rem;
  text-align: center;
}

input[type="text"] {
  width: 30%;
  padding: 0.8rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  margin-right: 0.5rem;
  outline: none;
  color: rgb(252, 252, 252);
  background-color: transparent;
  border-bottom: 2px solid #fff;
  box-shadow: -3px 0 16px rgb(252, 252, 252);
  text-align: center;
}
input[type="text"]:hover {
  width: 40%;
  box-shadow: -4px 10px 16px rgb(252, 252, 252);
  transition: 0.7s;
}
input[type="text"]:not(:hover) {
  transition: 0.7s;
}
input[type="text"]:focus {
  box-shadow: -3px 10px 16px rgb(252, 252, 252);
  transition: 0.7s;
  width: 40%;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.818);
  font-style: italic;
  font-size: 1rem;
}

input[type="submit"] {
  background-color: #fff;
  color: #2d3b55;
  padding: 0.9rem 2.3rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 3.2rem 0 0 0;
  box-shadow: -3px 0 16px rgb(252, 252, 252);
}

input[type="submit"]:hover {
  transition: 0.7s;
  background-color: #2d3b55;
  color: #fff;
  box-shadow: -3px 0 16px rgb(252, 252, 252);
}
input[type="submit"]:not(:hover) {
  transition: 0.7s;
}

#greeting {
  text-align: center;
  margin: 2rem;
  font-size: 1.8rem;
}

/* logout class */
#logout {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  color: rgba(253, 250, 247, 0.84);
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.14);
  box-shadow: -3px 0 16px rgb(252, 252, 252);
}

#logout:hover {
  transition: 0.7s;
  background-color: #2d3b55;
  color: #fff;
  box-shadow: -3px 0 16px rgb(252, 252, 252);
}
#logout:not(:hover) {
  transition: 0.7s;
}

#logout .material-symbols-outlined {
  font-size: 0.8rem;
  padding-left: 0.2rem;
  margin-left: 5px;
}

/* hidden class */
.hidden {
  display: none;
}


#todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3rem 1.2rem 1.2rem 1.2rem;
  height: 20vh;
  overflow-y: scroll;
}
#todo-list::-webkit-scrollbar-corner {
  display: none;
}

#todo-list::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: #f5f5f525;
}

#todo-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgba(216, 224, 240, 0.593)),
    color-stop(0.72, rgba(145, 162, 184, 0.262)),
    color-stop(0.86, rgba(145, 162, 184, 0.435))
  );
}

#todo-list li {
  width: 300px;
  list-style: none;
  margin: 0.6rem;
  display: flex;
  justify-content: space-between;
}

#todo-list span {
  font-size: 1.3rem;
}
#todo-list span:hover {
  color: rgb(179, 196, 218);
  transition: 0.5s;
}
#todo-list span:not(:hover) {
  transition: 0.7s;
}

#todo-list button {
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
  font-size: 0.9rem;
}
#todo-list button:hover {
  font-size: 1.1rem;
  transition: 0.3s;
}
#todo-list button:not(:hover) {
  transition: 0.3s;
}

/* quote style */
#quotes {
  text-align: center;
  margin-top: 6rem;
}

#quotes span:first-child {
  display: block;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 1rem;
  color: rgba(242, 238, 233, 0.84);
}
#quotes span:first-child:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#quotes span:first-child:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#quotes span:last-child {
  font-size: 1rem;
  color: rgba(242, 238, 233, 0.84);
}

/* weather style */
#weather {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  text-align: right;
}

#weather span:first-child {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(253, 250, 247, 0.84);
}

#weather span:last-child {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(253, 250, 247, 0.84);
}
